* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #222; /* Kartın sınırlarını görmek için koyu zemin */
  min-height: 100vh;
  display: flex; /* Kartı sayfanın tam ortasına koyar */
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.card {
  width: 100%; 
  max-width: 37.5rem;
  height: auto;
 background: linear-gradient(to bottom, #2017cd, #5056d8, #abaeb6); 
  border-radius: 1.2rem;
  margin-top: 2rem;
  color: #fff;
  text-align: center;
  container-type: inline-size;
  container-name: weather-card;
  padding: 1.5rem;
}
.night-mod{
 
   background: linear-gradient(to bottom, #020024, #090979, #00d4ff);
  transition: background 1s ease, color 1s ease;
  color: white;
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  height: 2.5rem;
  padding: 0.5 1rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 0.9rem;
  flex: 1;
}
.search button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ebfffc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search button:hover {
  background-color: #333;
}
.search button img {
  width: 15px;
  height: 15px;
}
.temp-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.temp {
  font-size: 3rem;
  font-weight: normal;
}

.celsius-icon {
  width: 5rem !important;
  filter: invert(1);
}

.weather img {
  width: 6.25rem;
  margin-top: 1rem;
}
.weather h1 {
  font-size: 3rem;
  font-weight: 500;
}
.weather h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}
.col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.7rem;
}

.col img {
  filter: brightness(0) invert(1);
  width: 40px;
  height: 40px;
}
@container weather-card (min-width:25rem) {
  .card {
    padding: 3rem;
  }
  .search input {
    height: 3.8rem;
    font-size: 1.1rem;
    padding: 0 1.5rem;
    /* flex: 1 1 0; */
  }
  .search input:focus {
    border-color: #4f46e5;
    box-shadow: 0 10px 15px -4px rgba(168, 85, 247, 0.2);
    outline: none;
    transform: translateY(-2px);
    cursor: pointer;
  }
  .search input::placeholder {
    color: #9ca3af;
  }
  .weather img {
    width: 150px;
  }
  .search button {
    width: 60px;
    height: 60px;
  }
  .search button img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .col {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    gap: 1rem;
  }

  .col img {
    filter: brightness(0) invert(1);
    width: 60px;
    height: 60px;
  }
}
.language {
  display: flex;
  justify-content: flex-end; /* Sağa yasla */
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.language ul {
  list-style: none;
  display: flex;
  gap: 5px;
  color: #fff;
  font-size: 0.9rem;
}

.language li {
  cursor: pointer; /* Tıklanabilir el işareti */
  opacity: 0.7;
  transition: 0.3s;
}

.language li:hover {
  opacity: 1;
}

/* Seçili olan dil parlak görünsün */
.language li.active {
  font-weight: bold;
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  color: bisque;
}

.location-button {
  background: none;
  outline: none;
}
.location-button img {
  filter: invert(0);
}
