* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
}
.adaylar {
  max-width: 600px;
  width: 100%;
  border: 4px solid red;
}
.aday-kutusu {
  border: 1px solid #333;
  margin: 10px;
  padding: 10px;
}
.oyBtn {
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s;
  width: 80px;
  height: 80px;
}
