* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e0e7ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 600px;
  background-color:white;

}
.avatar {
  font-size: 4rem;
  margin-bottom: 1rem;
  background: #f0f0f0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.btn-secondary {
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 1rem;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none; 
  justify-content: center;
  align-items: center;
}
.show {
  display: flex;
}
.modal-content {
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  animation: slideUp 0.4s ease;
}

.modal-header,
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
input {
  padding: 0.5rem;
  width: 100%;

  margin-top: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.close-icon{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    
}
@keyframes slideUp {
    from{transform: translateY(50px); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}
label {
    margin-top: 10px;
    display: block;
}
