@layer reset , base, components;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  body {
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0 auto;
  }
}

@layer components {
  .hidden {
    display: none !important;
  }
  .btn-container {
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    width: 250px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .btn-container h3 {
    margin-bottom: 20px;
  }
  .add-btn {
    background: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
   margin-top: -15px;
    position: relative; 
    z-index: 10;
   
  }
  .controls {
    background: black;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
     margin-top: -15px;
    position: relative; 
    z-index: 10;
  }

  .circle-btn {
    background: none;
    border: 1px solid white;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    
  }
  .fisikes-container {
    margin-top: 50px;
    background-color: aqua;
    text-align: center;
  }
  .confirm-btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  .modal {
    background: #4f4f4f;
    padding: 20px;
    border: 2px dashed #333;
    margin: 20px auto;
    width: 300px;
    min-height: 100px;

  }

}
